

body{
    background-image: url(images/Capture.PNG);
    background-size: cover;
    opacity: 0.4;
    filter: blur(6px);
    /* position: relative; */

}
/* .mainSection{
    position: absolute;
    background-color: blue;
} */
/* .rowDiv{
    position: relative;
}
.sliderContainer{
    position: absolute;
    background-color: red;
   
} */
/* .sliderContainer{
    position: absolute;
    background-color: black;
} */